<div class = "center jumbotron text-center">
  
  <h1>Original App</h1>
  <p>●●は、アトピー患者のための記録サイトです。<br>アトピー症状と生活習慣を記録することで、症状と各習慣と相関を見える化します。</p>
  <p></p>
  
  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-danger text-white mx-3" %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-warning text-white mx-3" %>

</div>
  
<h3 class = "home-h3 text-center mt-5"><b>このサイトの使い方</b></h3>

<%#=
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">症状と生活習慣について記録しましょう。毎日記録することが重要です。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">記録をグラフで確認。症状の変化と相関があるものを把握して対策を取りましょう。</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">記録を担当医に見せることで、より適切なアドバイスをもらいましょう。</p>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
 %>

<div class="container">
  <div class="row">
    <div class="card col-md-4 px-3">
      <img class="card-img-top  ml-3" src="assets/メモアイコン.png" alt="毎日記録をつけましょう">
      <div class="card-body">
        <h5 class="card-title text-nowrap"><u>日々の記録入力</u></h5>
        <p class="card-text">アトピー症状と日々の生活習慣について記録しましょう。毎日記録することが重要です。</p>
      </div>
    </div>
    <div class="card col-md-4 px-3">
      <img class="card-img-top " src="/assets/株価グラフのアイコン.png" alt="グラフで相関確認">
      <div class="card-body">
        <h5 class="card-title text-nowrap"><u>グラフで相関確認</u></h5>
        <p class="card-text">記録をグラフで確認。アトピー症状の変化と相関があるものを把握して対策を取りましょう。</p>
      </div>
    </div>
    <div class="card col-md-4 px-3">
      <img class="card-img-top " src="/assets/会話アイコン.png" alt="担当医に共有">
      <div class="card-body">
        <h5 class="card-title text-nowrap"><u>担当医に共有</u></h5>
        <p class="card-text">記録をアトピーの担当医に見せることで、より適切なアドバイスをもらいましょう。</p>
      </div>
    </div>
  </div>
</div>
        
        <div class="row mt-5">
          <div class="col-md-4">
            <h3>サイト作者</h3>
          </div>
        </div>

        <%#= link_to image_tag("rails.png", alt: "Rails logo"),  'http://rubyonrails.org/'  %>
        