<%= form_for [@post, @comment], remote: true do |f| %>
    <div class="row">
    <div class="col-md-10">
        <%= f.text_field :content %>
        <%= f.hidden_field :post_id, value: @post.id %> 
    </div>
    <br>
    <div class="col-md-2">
        <%= f.submit 'コメントする', class:"btn btn-sm btn-warning" %>
    </div>
    </div>
<% end %>