<% provide(:title, "All users") %>

<% if current_user.admin? %>
  <h1>All users</h1>

  <ul class="users">
    <% @users.each do |user| %>
    <li><%= link_to user.name, user_path(user.id) %></li>
    <% end %>
  </ul>

  <div class="mt-5">
    <%= paginate @users %>
  </div>

<% else %>
  <h2>管理者のみ閲覧可能です</h2>
<% end %>