<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>プライバシー・ポリシー</title>
<style type="text/css">
body{
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size:12px;
    background-color:#eaeaea;
}
#content {
    background-color:white;
    line-height:1.5;
    width:540px;
    padding:20px;
    margin:50px auto 0;
}
h2{
    margin-top: 30px;
    margin-bottom: 10px;
}
</style></head>
<body><div id="content">
    <h1>プライバシー・ポリシー</h1>
    <p>futtaro(以下、当方）は、スマートフォン用アプリケーション（以下「アプリ」）を開発・運用しています。本アプリのご使用によって、本規約に同意していただいたものとみなします。</p>

    <h2>収集する情報</h2>
    <p>アプリのご利用に際して、以下の利用者情報を取得いたします。</p>
    <ol><li>当方が配信するアプリでは、広告配信のためにGoogle AdMob、利用状況解析のためにGoogle Firebase Analyticsを使用する場合がございます。</li>
        <li>取得する情報、利用目的、第三者への提供等の詳細につきましては、以下のプライバシーポリシーのリンクよりご確認ください。</li>
    </ol>
    <%= link_to "AdMob（Google Inc.）", "https://policies.google.com/technologies/ads?hl=ja" %>
    <%= link_to "Firebase Analytics（Google Inc.）", "https://policies.google.com/privacy?hl=ja%EF%BB%BF" %>

    <h2>個人情報の第三者への開示・提供の禁止</h2>
    <p>当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
    <ul><li>お客さまの同意がある場合</li>
        <li>お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合</li>
        <li>法令に基づき開示することが必要である場合</li></ul>

    <h2>ご本人の照会</h2>
    <p>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>

    <h2>法令、規範の遵守と見直し</h2>
    <p>当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>

    <h2>お問い合せ<span style="color:#b00;font-size:12px">ココも必ずしも必用ないかな</span></h2>
    <p>当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>
    <p><b>会社名</b><br>
        住所</p>
</div></body></html>