
// typography

h1,h2,h3,h4,h5,h6 {
  line-height: 1;
}

a {
  color:gray;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// universal 

// body {
//   padding-top: 30px;
// }

section {
  overflow: auto;
}

// テキストボックスの縦のみリサイズを許可する
textarea {
  resize: vertical;
}

.center {
  text-align: center;
  p {
    margin-bottom: 20px;
  }
}

// header

#logo {
  float:left;
  margin-right: 10px;
  font-size: 1.4em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

// home

.home-h3 {
  text-align: center;
}

.how-to-1 {
  float: left;
  background-color: red;
  height: 100px;
}

.how-to-2 {
  float: left;
  background-color: blue;
  height: 100px;
}

.how-to-3 {
  float: left;
  background-color: green;
  height: 100px;
}

.how-to-4 {
  clear: both;
}

.card-img-top {
  // padding: 70px 50px;
  width: 200px;
  height: 200px;
  padding: 10px;
}

.card-img-second {
  // padding: 25px 50px;
  width: 125px;
  height: 125px;
  padding: 10px;
}

// footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}



/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

// aside {
//   section.user_info {
//     margin-top: 20px;
//   }
//   section {
//     padding: 10px 0;
//     margin-top: 20px;
//     &:first-child {
//       border: 0;
//       padding-top: 0;
//     }
//     span {
//       display: block;
//       margin-bottom: 3px;
//       line-height: 1;
//     }
//     h1 {
//       font-size: 1.4em;
//       text-align: left;
//       letter-spacing: -1px;
//       margin-bottom: 3px;
//       margin-top: 0px;
//     }
//   }
// }

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  // @extend .has-error;
  .form-control {
    color: red;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
input[type="checkbox"]{
  margin: 0;
}

.field {
  margin-bottom: 10px;
}

// input[type="radio"]:has(label)  {
//   background-color: #d81b60;
//   color: #fff;
// }

.btn.active {
  background-color: blue;
}

#session_remember_me {
  width: auto;
  margin-left: 0px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-medium-light;
  }
}

/* conditions index */

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 30px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 30px;    /*角を丸くする*/
}