<footer class="footer navbar navbar-expand-lg navbar-light bg-light">
  <div class= "container">
    <small>
    </small>
    <nav>
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "問い合わせ/改善要望", contacts_new_path %></li>
      </ul>
    </nav>
  </div>
</footer>